

<%- include ../partials/header %> <%- include ../partials/menu %> 

	
	

			<section class="breadcrumb-area" style="background-image:url(/images/background/4.jpg);">
			    <div class="container">
			        <div class="row">
			            <div class="col-md-12">
			                <div class="breadcrumbs text-center">
			                    <h1>Contact us</h1>
			                     
			                </div>
			            </div>
			        </div>
			    </div>

			    
			</section>

			<section class="single-contact_us">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="left_contact">
								<h5>Get In Touch</h5>
								<ul class="list catagories">
		                            <li><a href="#"><i class="fa fa-home color1"></i>Corporate Office: Spaze Edge Tower A, Sohna Road Sec-47, Gurugram-122001</a></li>
		                            <li><a href="#"><i class="fa fa-envelope color1"></i><span>farmerscity@gmail.com</span><br>customersupport@organic.com</a></li>
		                            <li><a href="#"><i class="fa fa-phone color1"></i> +919311468844 <br>1800-8692-258-1547</a></li>
		                        </ul>

		                        <div class="border-area">
			                        <h6>Woriking Hours</h6>
									<div class="list Business">
			                            <p>Monday - Friday: 09.00am to 07.00pm <br>Saturday: 10.00am to 05.00pm <br>Sunday: <span>Closed</span></p>
			                        </div>
		                        	
		                        </div>

		                        
							</div>
						</div>
						<div class="col-md-8 col-sm-6 col-xs-12">
			                <div class="contact_in-box">
				                <div class="theme-title ">
				                    <h2>send us massege</h2>
				                </div>
				                <form action="/post">
				                	<div class="row">
					                    <div class="col-md-6">
					                        <input type="text" placeholder="Your Name*">
					                    </div>
					                    <!-- /.col-md-6 -->
					                    <div class="col-md-6">
					                        <input type="text" placeholder="Your Email*">
					                    </div>
					                    <!-- /.col-md-6 -->
					                    <div class="col-md-6">
					                        <input type="text" placeholder="Phone">
					                    </div>
					                    <!-- /.col-md-6 -->
					                    <div class="col-md-6">
					                        <input type="text" placeholder="Subject">
					                    </div>
					                    <!-- /.col-md-6 -->

					                    <div class="col-md-12">
					                        <textarea placeholder="Comments"></textarea>
					                    </div>
					                    <!-- /.col-md-12 -->
					                    <div class="col-md-12">
					                        <button type="submit" class="color1_bg">Post Comment</button>
					                    </div>
					                    <!-- /.col-md-12 -->
					                </div>
					                <!-- /.row -->
				                </form>
					                
				            </div> 
			            </div>
					</div>
				</div>
			</section>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2480.901546185293!2d77.03481986191417!3d28.43359794921806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1872871970cd%3A0xeb3e8130fa0fcbf1!2sTower%20A%2C%20122001%2C%20Sohna%20Rd%2C%20Islampur%20Village%2C%20Sector%2038%2C%20Gurugram%2C%20Haryana%20122018!5e0!3m2!1sen!2sin!4v1602191372139!5m2!1sen!2sin" style="height: 500px;width:100%;" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			<!-- Footer************************* -->
			<%- include ../partials/footer %> 