<%- include ../partials/header %> <%- include ../partials/menu %>


<section class="breadcrumb-area" style="background-image:url(/images/background/2.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumbs text-center">
					<h1>Our Gallery</h1>
				</div>
			</div>
		</div>
	</div>


</section>




<!--gallery Section-->
<section class="gallery gallery-grid">
	<div class="container">

		<!--Filter-->
		<div class="filters text-center">
			
		</div>


		<div class="row filter-list clearfix">

			<!--Default Item-->
			<div class="col-md-3 col-sm-6 col-xs-12 mix mix_all default-item all FreshMeat Healthy Beauty"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/gallery/7.jpg" alt=""></figure>
						<!-- <div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/gallery/7.jpg" class="fancybox"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Coffee Break Cake</a></h4>
									<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-md-3 col-sm-6 col-xs-12 mix mix_all default-item all Beauty" style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/gallery/8.jpg" alt=""></figure>
						<!-- <div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/gallery/8.jpg" class="fancybox"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Coffee Break Cake</a></h4>
									<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-md-3 col-sm-6 col-xs-12 mix mix_all default-item all fruits vegetables FreshMeat"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/gallery/13.jpg" alt=""></figure>
						<!-- <div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/gallery/13.jpg" class="fancybox"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Coffee Break Cake</a></h4>
									<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-md-3 col-sm-6 col-xs-12 mix mix_all default-item all FreshMeat Healthy Beauty"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/gallery/9.jpg" alt=""></figure>
						<!-- <div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/gallery/9.jpg" class="fancybox"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Coffee Break Cake</a></h4>
									<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-md-3 col-sm-6 col-xs-12 mix mix_all default-item all fruits Beauty"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/gallery/10.jpg" alt=""></figure>
						<!-- <div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/gallery/10.jpg" class="fancybox"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Coffee Break Cake</a></h4>
									<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>

			<!--Default Item-->
			<div class="col-md-3 col-sm-6 col-xs-12 mix mix_all default-item all fruits vegetables FreshMeat Healthy Beauty"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/gallery/11.jpg" alt=""></figure>
						<!-- <div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/gallery/11.jpg" class="fancybox"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Coffee Break Cake</a></h4>
									<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			<!--Default Item-->
			<div class="col-md-3 col-sm-6 col-xs-12 mix mix_all default-item all fruits vegetables FreshMeat Healthy Beauty"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/gallery/12.jpg" alt=""></figure>
						<!-- <div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/gallery/12.jpg" class="fancybox"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Coffee Break Cake</a></h4>
									<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			<!--Default Item-->
			<div class="col-md-3 col-sm-6 col-xs-12 mix mix_all default-item all fruits vegetables FreshMeat Healthy Beauty"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/gallery/13.jpg" alt=""></figure>
						<!-- <div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/gallery/13.jpg" class="fancybox"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Coffee Break Cake</a></h4>
									<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			<!--Default Item-->
			<div class="col-md-3 col-sm-6 col-xs-12 mix mix_all default-item all fruits vegetables Healthy Beauty"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/gallery/14.jpg" alt=""></figure>
						<!-- <div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/gallery/14.jpg" class="fancybox"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Coffee Break Cake</a></h4>
									<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			<!--Default Item-->
			<div class="col-md-3 col-sm-6 col-xs-12 mix mix_all default-item all fruits vegetables Healthy Beauty"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/gallery/15.jpg" alt=""></figure>
						<!-- <div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/gallery/15.jpg" class="fancybox"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Coffee Break Cake</a></h4>
									<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			<!--Default Item-->
			<div class="col-md-3 col-sm-6 col-xs-12 mix mix_all default-item all fruits vegetables FreshMeat Healthy Beauty"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/gallery/16.jpg" alt=""></figure>
						<!-- <div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/gallery/16.jpg" class="fancybox"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Coffee Break Cake</a></h4>
									<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			<!--Default Item-->
			<div class="col-md-3 col-sm-6 col-xs-12 mix mix_all default-item all fruits vegetables FreshMeat  Beauty"
				style="display: inline-block;">
				<div class="inner-box">
					<div class="single-item center">
						<figure class="image-box"><img src="images/gallery/17.jpg" alt=""></figure>
						<!-- <div class="overlay-box">
							<div class="inner">
								<div class="image-view">
									<div class="icon-holder">
										<a href="images/gallery/17.jpg" class="fancybox"><span class="icon-magnifier"></span></a>
									</div>
								</div>
								<div class="bottom-content">
									<h4><a href="#">Coffee Break Cake</a></h4>
									<div class="price">$12.99 <span class="prev-rate">$14.99</span></div>
									<div class="icon-box"><a href="shop-cart.html"><span class="icon-icon-32846"></span></a></div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>


		</div>

		<ul class="page_pagination">
			<li><a href="#" class="tran3s"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></li>
			<li><a href="#" class="active tran3s">1</a></li>
			<li><a href="#" class="tran3s">2</a></li>
			<li><a href="#" class="tran3s">3</a></li>
			<li><a href="#" class="tran3s"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
		</ul>
	</div>

</section><!-- End of section -->

<!-- Footer************************* -->
<%- include ../partials/footer %>