<%- include ../partials/header %> <%- include ../partials/menu %>

<section class="breadcrumb-area" style="background-image: url(images/background/dry-fruits.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumbs text-center">
					<h1>Edit Top Selling Products</h1>
				</div>
			</div>
		</div>
	</div>

</section>

<!-- Account Page Content*********************** -->
<div class="account_page">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 login_form">
				<form action="/top-selling/urllink?_method=PUT" method="post">
								
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<div class="form_group">
								<label>Name</label>
								<div class="input_group">
									<input name="topSelling[name]" id="name" type="text" placeholder="Heading*">
									<i class="fa fa-user" aria-hidden="true"></i>
								</div> <!-- End of .input_group -->
							</div> <!-- End of .form_group -->

							<div class="form_group">
								<label>Image Link</label>
								<div class="input_group">
									<input name="topSelling[image]" id="mail" type="text" placeholder="Image">
									<i class="fa fa-link" aria-hidden="true"></i>
								</div> <!-- End of .input_group -->
							</div> <!-- End of .form_group -->
							<div class="form_group">
								<label>Price</label>
								<div class="input_group">
									<input name="topSelling[price]" id="mail" type="text" placeholder="Image">
									<i class="fa fa-link" aria-hidden="true"></i>
								</div> <!-- End of .input_group -->
							</div> <!-- End of .form_group -->

							<div class="form_group">
								<label>Link</label>
								<div class="input_group">
									<input name="topSelling[link]" id="slug" type="text" placeholder="Slug">
									<i class="fa fa-link" aria-hidden="true"></i>
								</div> <!-- End of .input_group -->
							</div> <!-- End of .form_group -->
						
							<div class="form_group">
								<input type="Submit" class="btn btn-block btn-success" value="Add Product">
							</div> <!-- End of .form_group -->
						</div>
					</div> <!-- End of .row -->

				</form>
			</div>
			<!-- End of .login_form -->
		</div>
		<!-- End of .row -->
	</div>
	<!-- End of .container -->
</div>
<!-- End of .account_page -->

<%- include ../partials/footer %>
