

		<footer>
			<div class="main_footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 footer_logo img-rounded">

							<img src="/images/logo/logo-2.png" alt="">
							<p>
								Junk the Junk Food! <br>
								Time to bring home Healthy Products,<br>
								<strong class="text-uppercase"> “Be Vocal" for "Local"</strong>,<br>
								Friend a Farmer
								&<br>
								Eat locally with us.
							</p>
						</div> <!-- End of .footer_logo -->


						<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 footer_subscribe">
							<h5>Get In Touch</h5>
							<ul class="list catagories">
								<li><a href="#"><i class="fa fa-envelope"></i>farmerscity@gmail.com</a></li>
								<li><a href="#"><i class="fa fa-phone"></i> +919311468844</a></li>
								<li><a href="#"><i class="fa fa-home"></i>Corporate Office: Spaze Edge Tower A, Sohna Road Sec-47,
										Gurugram-122001</a></li>
							</ul>
						</div> <!-- End of .footer_subscribe -->


						<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 footer_contact">
					

							<h5>Business Hours</h5>
							<div class="list Business">
								<p>Monday - Friday: 09.00am to 07.00pm <br>Saturday: 10.00am to 05.00pm <br>Sunday: <span>Closed</span>
								</p>
							</div>

						</div> <!-- End of .footer_contact -->
					</div>
				</div>
			</div> <!-- End of .main_footer -->

			<div class="bottom_footer clear_fix">
				<div class="container">
					<h6 class="pull-left">Copyrights © 2020 All Rights Reserved by<a href="http://farmerscity.com"
							target="_blank">FarmersCity</a></h6>
					<ul class="social_icon pull-right">
						<li><a href="#" class="tran3s"><i class="fa fa-cc-visa" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s"><i class="fa fa-paypal" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s"><i class="fa fa-cc-discover" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</footer>



		<button class="scroll-top tran3s color2_bg">
			<span class="fa fa-angle-up"></span>
		</button>

		<div id="loader-wrapper">
			<div id="loader"></div>
		</div>







		<script type="text/javascript" src="/js/jquery-2.1.4.js"></script>

		<script type="text/javascript" src="/js/bootstrap.min.js"></script>



		<!--   -->

		<!-- <script src="js/gmap.js"></script> -->

		<script type="text/javascript" src="/js/owl.carousel.min.js"></script>

		<script type="text/javascript" src="/js/jquery-ui.min.js"></script>

		<script src="/vendor/revolution/jquery.themepunch.tools.min.js"></script>
		<script src="/vendor/revolution/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="/vendor/revolution/revolution.extension.slideanims.min.js"></script>
		<script type="text/javascript" src="/vendor/revolution/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="/vendor/revolution/revolution.extension.navigation.min.js"></script>
		<script type="text/javascript" src="/vendor/revolution/revolution.extension.kenburn.min.js"></script>
		<script type="text/javascript" src="/vendor/revolution/revolution.extension.actions.min.js"></script>
		<script type="text/javascript" src="/vendor/revolution/revolution.extension.parallax.min.js"></script>
		<script type="text/javascript" src="/vendor/revolution/revolution.extension.migration.min.js"></script>


		<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>

		<script type="text/javascript" src="/js/jquery.appear.js"></script>
		<script type="text/javascript" src="/js/wow.min.js"></script>

		<script type="text/javascript" src="/js/SmoothScroll.js"></script>

		<script src="/js/bootstrap-select.min.js"></script>
		<script src="/js/jquery.mixitup.min.js"></script>

		<script type="text/javascript" src="/js/theme.js"></script>


</body>

<!-- FarmersCity -->

</html>