<%- include ../partials/header %> <%- include ../partials/menu %>



<section class="breadcrumb-area" style="background-image:url(/images/background/2.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumbs text-center">
          <h1>Initiatives</h1>
          <!-- <h4>Welcome to certified online organic products supplier</h4> -->
        </div>
      </div>
    </div>
  </div>


</section>

<section class="about-story">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <figure class="img-holder">
          <img src="images/about/3.jpg" alt="">
        </figure>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="about-text">
          <div class="theme_title">
            <h4>“Be Vocal" for "Local",
              Friend a Farmer</h4>
          </div>
          <div class="about_quot">
            Farmer’s City has undertaken various initiatives for the direct benefits of farmers.
          </div>
          <div class="text grass">
            <ul style="list-style: disc;">
              
              <li><p>

                International Research Collaboration
              </p>
              </li>
              <li><p>
                Agro Entrepreneurship Cell & Incubation Centre
              </p>
              </li>
              <li><p>
                Agricultural Skill Development
              </p>
              </li>
              <li><p>
                Education for families of farmer members
              </p>
              </li>
            </ul>
          </div>

         

        </div>
      </div>
    </div>
  </div>
</section>

<section class="three-column color1_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 color1_bg text-center">
        <div class="single-item ">
          <h5>Vision</h5>
          <div class="icon"><i class="icon-chicken"></i></div>
          <p>
            To be an industry leader in providing an exhaustive range of agri products and services in
            association with our farmer members with a view to create long lasting value to all our
            stakeholders.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 color1_bg text-center">
        <div class="single-item ">
          <h5>Mission Statement</h5>
          <div class="icon"><i class="icon-nature"></i></div>
          <p>
            To empower our farmer members by providing them added value for their produce by
            becoming market leaders and creating strong agro entrepreneurs with a view to enhance
            their standard of living, level of education and greater livelihood opportunities for their
            families.</p>
        </div>
      </div>


    </div>
  </div>
</section>



<!-- Footer************************* -->
<%- include ../partials/footer %>