<%- include ../partials/header %> <%- include ../partials/menu %>



		<section class="breadcrumb-area" style="background-image:url(/images/background/2.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="breadcrumbs text-center">
							<h1>about us</h1>
							<!-- <h4>Welcome to certified online organic products supplier</h4> -->
						</div>
					</div>
				</div>
			</div>


		</section>

		<section class="about-story">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<figure class="img-holder">
							<img src="images/about/3.jpg" alt="">
						</figure>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="about-text">
							<div class="theme_title">
								<h4>“Be Vocal" for "Local",
									Friend a Farmer</h4>
							</div>
							<div class="about_quot">
								Farmer’s City is a prominent Farmer Producer Company of Haryana. We take pride in being a
								key player of Haryana State in agribusiness.
							</div>
							<div class="text grass">
								<p>We have a network of more than 1000 farmer
									members and work towards building a sustainable eco-system for agri products and
									services. We believe in providing quality products to our customers in terms of nutrition,
									health and taste. Our range includes essential human food commodities such as wheat, rice,
									pulses, spices, fruits and vegetables plus a range of popular food products like noodles,
									pasta, daliya, suji, dry fruits, super food items derived from millets, etc.,</p>
							</div>

							<div class="text">
								<p>Looking after the welfare of farmers is the core of Farmer’s City and thus our foundation is
									built on a strong relationships with farmers. Most of our products our grown by our farmer
									members where we closely monitor the produce through the entire life cycle. Therefore, we
									are confident that we obtain the very best quality produce directly from the farmers.</p>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="three-column color1_bg">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12 color1_bg text-center">
						<div class="single-item ">
							<h5>Vision</h5>
							<div class="icon"><i class="icon-send"></i></div>
							<p>
								To be an industry leader in providing an exhaustive range of agri products and services in
								association with our farmer members with a view to create long lasting value to all our
								stakeholders.</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 color1_bg text-center">
						<div class="single-item ">
							<h5>Mission Statement</h5>
							<div class="icon"><i class="icon-cup"></i></div>
							<p>
								To empower our farmer members by providing them added value for their produce by
becoming market leaders and creating strong agro entrepreneurs with a view to enhance
their standard of living, level of education and greater livelihood opportunities for their
families.</p>
						</div>
					</div>


				</div>
			</div>
		</section>



		<!-- Footer************************* -->
<%- include ../partials/footer %> 