<%- include ../partials/header %> <%- include ../partials/menu %>



<section class="breadcrumb-area" style="background-image:url(/images/background/our-services.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumbs text-center">
					<h1>Our Services</h1>
				</div>
			</div>
		</div>
	</div>


</section>

<section class="four-column">
	<div class="container text-center">
		<!-- <div class="theme_title center">
				<h4>Welcome to certified online organic products supplier</h4>
		</div> -->
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
				<div class="single-item ">
					<div class="inner-box">
						<div class="icon"><i class="icon-nature-1"></i><span>1</span></div>
					</div>
					<h5>Agricultural Business Advisory
					</h5>
					<p>
					</p>


				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
				<div class="single-item ">
					<div class="inner-box">
						<div class="icon"><i class="rot icon-web"></i><span>2</span></div>
					</div>
					<h5>Equipment Procurement, Repair & Maintenance</h5>
					<p>
					</p>
				

				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
				<div class="single-item ">
					<div class="inner-box">
						<div class="icon"><i class="rot icon-buildings-1"></i><span>3</span></div>
					</div>
					<h5>Farm & Crop Management</h5>
				

				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
				<div class="single-item ">
					<div class="inner-box">
						<div class="icon"><i class="rot icon-cog"></i><span>4</span></div>
					</div>
					<h5>Agro Technology</h5>
				

				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
				<div class="single-item ">
					<div class="inner-box">
						<div class="icon"><i class="rot icon-transport"></i><span>5</span></div>
					</div>
					<h5>Agricultural Logistics</h5>
				

				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12 text-center">
				<div class="single-item ">
					<div class="inner-box">
						<div class="icon"><i class="rot icon-food-3"></i><span>6</span></div>
					</div>
					<h5>Soil & Water Analysis</h5>
				

				</div>
			</div>

			<div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12 text-center">
				<div class="single-item ">
					<div class="inner-box">
						<div class="icon"><i class="rot icon-wheat"></i><span>7</span></div>
					</div>
					<h5>Seed Production & Processing</h5>
				

				</div>
			</div>


		</div>
		<div class="link"><a href="#" class="rot tran3s color1_bg">Shop products</a></div>
	</div>
</section>



<!-- Footer************************* -->
<%- include ../partials/footer %>